# AngelaMos | 2025
# dev.compose.yml

venv
*.venv
*.env
*.cache
*.egg

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json

.DS_Store

# K8s Secrets
**/secrets.yaml
**/secrets.yml
**/*-secrets.yaml
**/*-secrets.yml
**/sealed-secrets.yaml
k8s/overlays/*/secrets.env
